body {
    background-color: #061328;
    color: #ffff;
}
td {
    color: #ffff;
}
tr {
    color: turquoise;
}


.useravatar {
    width: 100px;
    height: 100px;
}

h3 {
    text-decoration: underline;
}